<!DOCTYPE html>
<html>
<head>
    <title>WebSocket</title>
    <link href="/hmi-adapter/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/hmi-adapter/webjars/jquery/3.1.0/jquery.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.5/bootstrap-notify.min.js"></script>
    <script src="/hmi-adapter/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/hmi-adapter/webjars/stomp-websocket/stomp.min.js"></script>
    <script type="text/javascript">
        var stompClient = null;

function setConnected(connected) {
    $("#connect").prop("disabled", connected);
    $("#disconnect").prop("disabled", !connected);
    if (connected) {
        $("#visualization").show();
    }
    else {
        $("#visualization").hide();
    }
    $("#message").html("");
}

function connect() {
    var socket = new SockJS('/hmi-adapter/hmi-adapter-websocket');
    stompClient = Stomp.over(socket);
    stompClient.connect({'username': $("#username").val(), 'password': $("#password").val(),'tenant': $("#tenant").val()}, function (frame) {
        setConnected(true);
        console.log('Connected: ' + frame);

    }, function(frame){errorNotify(frame)});
}

function disconnect() {
    if (stompClient !== null) {
        stompClient.disconnect();
    }
    setConnected(false);
    console.log("Disconnected");
}

function sendTopic() {
        stompClient.subscribe($("#topic").val(), function (response) {
            showMessage(response.body);
        });
}

function sendName() {
    stompClient.send("/app/user", {}, JSON.stringify({'name': $("#name").val()}));
}

function showMessage(message) {
    $("#message").append("<tr><td>" + message + "</td></tr>");
}

$(function () {
    $("form").on('submit', function (e) {
        e.preventDefault();
    });
    $( "#connect" ).click(function() { connect(); });
    $( "#disconnect" ).click(function() { disconnect(); });
    $( "#send" ).click(function() { sendTopic(); });
    $( "#send1" ).click(function() { sendName(); });
});

var errorNotify = function(value){
  $.notify({
	// options
	title: '<strong>Error</strong>',
	message: value,
  icon: 'glyphicon glyphicon-remove-sign',
	url: 'https://github.com/mouse0270/bootstrap-notify',
	target: '_blank'
},{
	// settings
	element: 'body',
	//position: null,
	type: "danger",
	//allow_dismiss: true,
	//newest_on_top: false,
	showProgressbar: false,
	placement: {
		from: "top",
		align: "left"
	},
	offset: 20,
	spacing: 10,
	z_index: 1031,
	delay: 3300,
	timer: 1000,
	url_target: '_blank',
	mouse_over: null,
	animate: {
		enter: 'animated fadeInDown',
		exit: 'animated fadeOutRight'
	},
	onShow: null,
	onShown: null,
	onClose: null,
	onClosed: null,
	icon_type: 'class',
});
}


    </script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect</button>
                </div>

            </form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" class="form-control" placeholder="Username...">
                <label for="password">Password</label>
                <input type="text" id="password" class="form-control" placeholder="Password...">
                <label for="tenant">Tenant</label>
                <input type="text" id="tenant" class="form-control" placeholder="Tenant...">
            </div>
        </div>

        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="topic">Topic to subscribe</label>
                    <input type="text" id="topic" class="form-control" placeholder="Topic...">
                </div>
                <button id="send" class="btn btn-default" type="submit">Subscribe</button>
            </form>
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">Prova di invio server</label>
                    <input type="text" id="name" class="form-control" placeholder="Prova...">
                </div>
                <button id="send1" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="visualization" class="table table-striped">
                <thead>
                <tr>
                    <th>Vehicles</th>
                </tr>
                </thead>
                <tbody id="message">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>